.courier__hero-section{
    color: black;
    padding:  185px 0;
}
.flex-main{
    display: flex;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 489.37px;
    height: 637.74px;
}
.login-form label{
    font-size: x-small;
    opacity: 0.5; 
    margin-top: 30px;
}
.login-img{
    width: 653.05px;
    height: 653.05px;
}
.login-button{
    background: linear-gradient(180deg, #7BB4F8 0%, #73AAEB 100%);
    border-radius: 13.0151px;
    font-weight: 500;
    font-size: 24px;
    height: 71.58px;
    margin-top: 40px;
    border: none;
}