.courier__hero-section{
    color: black;
    padding:  185px 0;
}
.flex-main{
    display: flex;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 489.37px;
    height: 637.74px;
}
.login-form label{
    font-size: x-small;
    opacity: 0.5; 
    margin-top: 30px;
}
.login-img{
    width: 653.05px;
    height: 653.05px;
}
.login-button{
    background: linear-gradient(180deg, #7BB4F8 0%, #73AAEB 100%);
    border-radius: 13.0151px;
    font-weight: 500;
    font-size: 24px;
    height: 71.58px;
    margin-top: 40px;
    border: none;
}

input[type=text].login-form {
    height:17px;
    border: 0;
    width: calc(100% - 2px);
    margin-left:1px;
    box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
  }
  input[type=text]:focus.login-form {
    outline: none;
    box-shadow: -8px 10px 0px -7px #4EA6EA, 8px 10px 0px -7px #4EA6EA;
  }
  .choose-role{
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      transform: 0.3s;
  }
  .choose-item{
      margin-left: 60px;
  }