.user-info-item{
    display: flex;
    margin-bottom: 20px;
}
.user-info-text{
    margin-left: 15px;
    font-weight: 500;
}
.showonmap-text{
    font-weight: 500;
    font-size: 20px;
}
.show-map{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}
.item-main{
    display: flex;
    justify-content: flex-end;
}