.customer__hero-section{
    color: black;
    padding:  74px 0;
}
.header{
    display: flex;
    align-items: flex-end;
    margin-bottom: 70px;
}
.header-user{
    display: inline-block;
}

.header-logo {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.header-logo-text-customer{
    font-weight: 200;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: flex-end;
    color: #7D9FE1;
}

.header-svg-container{
    width: 90px;
    height: 90px;
    padding: 13px;
    float: left;
}
.user-text{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-left: 23px;
    display: inline-block;
}
.customer-item{
    background: linear-gradient(168.53deg, rgba(234, 255, 254, 0.5) 0%, rgba(205, 201, 241, 0.5) 97.46%);
    box-shadow: 78.8889px 78.8889px 197.222px rgba(29, 24, 63, 0.2);
    backdrop-filter: blur(23.6667px);
    border-radius: 20px;
}
.info-select{
    width: 390px;
    height: 230px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 90px;
}
.info-input{
    border: 1px solid #627EB5;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
    width: 310px;
    height: 43px;
    background: linear-gradient(168.53deg, rgba(234, 255, 254, 0.5) 0%, rgba(205, 201, 241, 0.5) 97.46%);
}
.info-inputs{
    display: flex;
    flex-direction: column;
}
.product-list{
    width: 390px;
    height: 175px;
    margin-top: 12px;
    padding-left: 40px;
    padding-right: 40px;
}
.add-products{
    margin: 0 auto;
    right: 50%;
}
.customer-map{
    width: 790px;
    height: 540px;
    margin-left: 10px;
}
.send-button{
    width: 390px;
    height: 90px;
    background: #000000;
    border: 5px solid #000000;
    border-radius: 25px;
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    margin-top: 30px;
}
.header-text-main{
    margin-left: 30px;
}
.info-input-textarea{
    width: 650px;
    height: 272px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
}
@media screen and (max-width: 768px){
    .container{
        padding-right: 30px;
        padding-left: 30px;
    }
}